<div class="container">

  <div class="d-flex justify-content-center mb-4">
    <h2 style="font-size: xx-large;">Servizi vicini alla tua posizione</h2>
  </div>

  <div *ngIf="selectedService" class="mb-4">
      <h4>{{selectedService.name}}</h4>
      <h5>{{selectedService.category}}</h5>
  </div>

  <div *ngFor="let service of services" class="mb-4">
    <div class="d-flex justify-content-start align-items-center mb-4 gap-4">
      <h2 style="cursor: pointer; margin:0" (click)="onSelectService(service)">
          {{service.name}}
      </h2>
      <button [routerLink]="['/services', service.id]" class="btn btn-outline-primary">Modifica</button>
      <button (click)="onDelete(service)" class="btn btn-outline-danger">Elimina</button>
    </div>
  </div>

  <div style="margin-top: 3em;">
    <button [routerLink]="['/services']" class="btn btn-dark">Aggiugni Servizio</button>

  </div>
</div>
